
/* pagina completa*/
*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-size: 20px;
}

/* body*/
body{
  background-color: #dcd9d5;
}

/*Barra de navegacion*/
.header {
  background-color: #1b3039;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  object-fit: cover;
  font-family:  ' Nunito Sans Sans', sans-serif;
}

.header .logo img{
  height: 80px;
  width: auto;
  transition: all 0.3s;
}

.header .logo{
  cursor:pointer;
}

.header .logo .img:hover{
  transform: scale(1.2);
}

.header .nav-links{
  list-style: none;
}

.header .nav-links li{
  display: inline-block;
  padding: 0 20px;

}

.header .nav-links li:hover{
  transform:scale(1.1);

}

.header .nav-links a{
  font-size: 500;
  color: #efefef;
  text-decoration: none;
}

.header .nav-links li a:hover{
  color:rgb(248, 186, 72);
}

/*Imagen grande*/
.logo-grande{
  background-color: #191826;
}
.logo-grande img{
  width:100%;
  object-fit: cover;
  animation: fadeIn 5s;
}

@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

/*Frase explicación*/

.frase p{
  font-family: 'SemiBold 600',  Nunito Sans ;
  font-weight: 200;
  font-size: 2.2rem;
  text-align: center;
  vertical-align: middle;
  margin-top: 15%;
  margin-bottom: 8%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Caja de busqueda*/
#cand{
  font-family: 'Bold 700',  Nunito Sans ;
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2%;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-flex;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  margin: 0 auto;
  font-family: 'SemiBold 600',  Nunito Sans ;

}


.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: rgb(248, 186, 72);
  left: 50%;
  transform: translateX(-50%);
}

input:focus-visible + label {
  outline: 2px solid rgb(224, 201, 85);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: rgb(20, 35, 49);
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: rgb(20, 35, 49);
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid rgb(248, 186, 72);
  text-align: justify;
  font-family: 'SemiBold 600',  Nunito Sans ;
}


.tabset {
  max-width: 65em;
  position: relative;
  text-align: center; /* Align labels in the center */
  margin: 0 auto;
}

#busqueda{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/*Colaboradores*/
#colaboradores{
  background-color: rgb(248, 186, 72);
  border-color: #3b3b3b;
  display:flex;
  justify-content: center;
  align-items: center;
}

.colaboradores{
  margin-top: 2%;
}

.colaboradores p{
  font-family: 'SemiBold 600',  Nunito Sans ;
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}

#titulo{
  font-weight: 400;
  font-size: 1.1rem;
  margin-top:5%;
}

.divider {
  border-bottom: 3px solid #201f23;
  margin-top: 1%;
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 5%;
}

/*Instituciones*/

#instituciones{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 186, 72);
}

.instituciones{
  margin: 2%;
  width:100%;
  position: relative;
  justify-content: center;

}

#titulote{
  font-family: 'SemiBold 600',  Nunito Sans ;
  font-weight: 200;
  font-size: 2.2rem;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2%;
  margin-top: 2%;
}

.instituciones img{
  width:20%;
  display: flex;
  margin: auto;
  object-fit: cover;
  display: list-item;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
}

.dividerd{
  border-bottom: 1px solid #6c6c6c;
  margin-top: 1%;
  box-sizing: border-box;
  margin-left: 25%;
  margin-right: 25%;
}

/*footer*/

.pie-pagina{
  width:100%;
  background-color: #191826;
  font-family:  ' Nunito Sans', sans-serif;
  position: relative;

}

.pie-pagina .grupo-1{
  width:100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pie-pagina .grupo-1 .box figure img{
  width: 350px;
}

.pie-pagina .grupo-1 .box h2{
  color: white;
  margin-bottom: 25px;
  font-size: 20px;

}

.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
  display : inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color:#fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;

}

.pie-pagina .grupo-1 .red-social a:hover{
  color:rgb(251, 187, 68);
}

.pie-pagina .grupo-2{
  background-color: #1b3039;
  padding: 15px 10px;
  text-align: center;
  color: #fff;

}

.pie-pagina .grupo-2 small{
  font-size: 15px;
  font-family: 'ExtraLight 200',  Nunito Sans ;
}

.pie-pagina .grupo-2 small b{
  font-size: 15px;
  font-family: 'ExtraLight 200',  Nunito Sans ;
}